{:paths ["src"]
 :deps {:clj-http/clj-http      {:mvn/version "3.10.0"}
        :org.xerial/sqlite-jdbc {:mvn/version "3.30.1"}
        :org.clojure/java.jdbc  {:mvn/version "0.7.11"}
        :cheshire               {:mvn/version "5.8.1"}
        :hiccup                 {:mvn/version "1.0.5"}}}